<ion-header>
  <ion-toolbar>
    <ion-title>
      Progreso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Seguimiento de Progreso</h1>

  <p>
    Consulta tus estadísticas y evolución física.
  </p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Estadísticas
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Próximamente podrás visualizar tu progreso semanal y mensual.
    </ion-card-content>
  </ion-card>

</ion-content>
