<ion-header>
  <ion-toolbar>
    <ion-title>
      MoveFit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Rutinas de Entrenamiento</h1>

  <p>
    Organiza y administra tus rutinas diarias de ejercicio.
  </p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Bienvenido a MoveFit
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Aquí podrás crear, editar y visualizar tus rutinas personalizadas.
    </ion-card-content>
  </ion-card>

</ion-content>
