<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Perfil de Usuario</h1>

  <p>
    Gestiona tu información personal y objetivos físicos.
  </p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Información Personal
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Aquí podrás actualizar tus datos y preferencias.
    </ion-card-content>
  </ion-card>

</ion-content>
